<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForHeart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="../static/css/waffle.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
   
  

   
    <link rel="shortcut icon" href="/static/images/favicon.ico?v=2">
</head>
<body>
    <div class="home">
    
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
     
        <img src="../static/images/LOGO1.png" alt="" width="150" height="150" >
        <label class="logo" >ForHeart</label>
        
        <ul>
          
          <li><a  class="navlinks" href="/">Home</a></li>
              <li><a  class="navlinks" href="/templates/form.html">Predict</a></li>
              <li><a  class="navlinks" href="/templates/activity.html">Fitness</a></li>
              <li><a  class="navlinks" href="/templates/about.html">About Us</a></li>
        </ul>
    </nav>
    
    <div class="heading1">
      <p class="abtsubhead" style="text-align: center; color: rgb(3, 3, 3);"><b>Description about the parameters</b></p>
    </div>
   

      <div  class="abtdes" data-aos="fade-up" data-aos-duration="30000" data-aos-offset="400" data-aos-once="true"><p><b>Resting Blood Pressure:</b>Blood pressure is measured using two numbers: The first number, called systolic blood pressure, measures the pressure in your arteries when your heart beats. The second number, called diastolic blood pressure, measures the pressure in your arteries when your heart rests between beats. And this is Resting Blood Pressure.
        </p>    
    </div>

    <div  class="abtdes" data-aos="fade-up" data-aos-duration="30000" data-aos-offset="400" data-aos-once="true"><p><b>Serum Cholestral: </b>Cholesterol is a type of body fat, or lipid. A person's serum cholesterol level represents the amount of total cholesterol in their blood. A person's serum cholesterol level comprises the amount of high-density lipoprotein (HDL), low-density lipoprotein (LDL), and triglycerides in the blood. </p>    
    </div>

    <div class="abtdes" data-aos="fade-up" data-aos-duration="30000" data-aos-offset="300" data-aos-once="true"><p><b>Fasting Blood Sugar</b>This measures your blood sugar after an overnight fast (not eating). A fasting blood sugar level of 99 mg/dL or lower is normal, 100 to 125 mg/dL indicates you have prediabetes, and 126 mg/dL or higher indicates you have diabetes. </p>    
    </div>

    <div  class="abtdes" data-aos="fade-up" data-aos-duration="30000" data-aos-offset="300" data-aos-once="true"><p><b>Resting Electrocardiag values:</b>The resting electrocardiogram is a test that measures the electrical activity of the heart. The heart is a muscular organ which pumps blood through rhythmic contractions induced by electric impulses generated by the sinus node, the heart's natural pacemaker.</p>    
    </div>

    

  <div  class="abtdes" data-aos="fade-up" data-aos-duration="30000" data-aos-offset="300" data-aos-once="true"><p><b>Maximum Heart Rate Achieved:</b> it's the highest number of beats per minute your heart can pump under maximum stress. You can estimate your maximum heart rate based on your age. To estimate your maximum age-related heart rate, subtract your age from 220. For example, for a 50-year-old person, the estimated maximum age-related heart rate would be calculated as 220 – 50 years = 170 beats per minute (bpm). </p>    
  </div>

  <div class="abtdes" data-aos="fade-up" data-aos-duration="30000" data-aos-offset="300" data-aos-once="true"><p><b>Exercise indued angina: </b>Angina tends to appear during physical activity, emotional stress, or exposure to cold temperatures, or after big meals. Symptoms of angina include: pressure, aching, or burning in the middle of the chest. pressure, aching, or burning in the neck, jaw, and shoulders (usually the left shoulder) and even down the arm.</p>    
</div>

<div  class="abtdes" data-aos="fade-up" data-aos-duration="30000" data-aos-offset="300" data-aos-once="true"><p><b>Oldpeak : ST depression induced by exercise relative to rest</b>Exercise induced ST segment depression is considered a reliable ECG finding for the diagnosis of obstructive coronary atherosclerosis. It has also been associated with a worse prognosis for patients with a documented coronary artery disease (CAD)</p>    
</div>

<div class="abtdes" data-aos="fade-up" data-aos-duration="30000" data-aos-offset="300" data-aos-once="true"><p><b>Slope: the slope of the peak exercise ST segment:</b> The ST segment shift relative to exercise-induced increments in heart rate, the ST/heart rate slope (ST/HR slope), has been proposed as a more accurate ECG criterion for diagnosing significant coronary artery disease (CAD).</p>    
</div>

<div  class="abtdes" data-aos="fade-up" data-aos-duration="30000" data-aos-offset="300" data-aos-once="true"><p><b>Thalassemia:</b>Thalassemia (thal-uh-SEE-me-uh) is an inherited blood disorder that causes your body to have less hemoglobin than normal. Hemoglobin enables red blood cells to carry oxygen. Thalassemia can cause anemia, leaving you fatigued. If you have mild thalassemia, you might not need treatment.</p>    
</div>



    <div class="foot">
        &copy ForHeart 2022
      </div>
    

   
   
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
     

    
     
</div>
</body>
</html>
